<%= render 'layouts/header' %>

<div class='container mt-5'>
  <h3>
    <%= @property.building %>
  </h3>
  <div class='mb-3'>
    〒<%= @property.postal_code %>
    <%= @property.prefecture %>
    <%= @property.city %>
    <%= @property.address_line %>
  </div>
  <div>
    <%=link_to '編集', edit_property_path, class:'btn btn-secondary' %>
    <%=link_to '削除', property_path, method: :delete, data: {confirm: "物件に紐付く部屋および契約情報も全て削除されます。削除しますか？"}, class:'btn btn-secondary' %>
    <%=link_to '戻る', property_index_path %>
  </div>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th>総戸数</th>
        <th>築年月</th>
        <th>土地面積</th>
        <th>建物面積</th>
        <th>物件種別</th>
        <th>所有者</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @property.total_units %></td>
        <td><%= @property.building_year.strftime("%Y年%m月") %></td>
        <td><%= @property.land_area %>㎡</td>
        <td><%= @property.building_area %>㎡</td>
        <td><%= @property.property_type %></td>
        <td><%= @property.business_entity %></td>
      </tr>
    </tbody>
  </table>
  <div class='mt-5'>
    <h4>
      部屋一覧
    </h4>
    <%=link_to '部屋登録', new_property_room_path(@property.id), class:'btn btn-primary' %>

    <table class='table mt-3'>
    <thead>
      <tr>
        <th>部屋</th>
        <th>間取り</th>
        <th>広さ</th>
        <th>方角</th>
        <th>契約状況</th>
        <th>入居者</th>
        <th>契約開始日</th>
        <th>契約終了日</th>
      </tr>
    </thead>
    <tbody>
      <% @property.rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td><%= room.layout %></td>
          <td><%= room.room_size %></td>
          <td><%= room.direction %></td>
          <% if room.contracts.exists? && room.contracts.order(start_date: :desc).first.end_date >= Date.today %>
            <td>契約中</td>
            <td><%= room.contracts.order(start_date: :desc).first.contractor %></td>
          <% else %>
            <td style="color:red;">空室</td>
            <td>-</td>
          <% end %>
          <% if room.contracts.exists? %>
            <td><%= room.contracts.order(start_date: :desc).first.start_date.strftime("%Y年%m月%d日") %></td>
            <td><%= room.contracts.order(start_date: :desc).first.end_date.strftime("%Y年%m月%d日") %></td>
          <% else %>
            <td>-</td>
            <td>-</td>
          <% end %>
          <td><%= link_to '詳細', property_room_path(room.property.id, room.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>