<%= render 'layouts/header' %>

<div class='container mt-5'>
  <h3>
    <%= @property.building %>
  </h3>
  <div class='mb-3'>
    〒<%= @property.postal_code %>
    <%= @property.prefecture %>
    <%= @property.city %>
    <%= @property.address_line %>
  </div>
  <div class='mb-3'>
    総戸数：<%= @property.total_units %>戸
  </div>
  <div class='mb-3'>
    <% if @property.building_year.nil? %>
        築年月：
    <% else %>
      築年月：<%= @property.building_year.strftime("%Y年%m月") %>
    <% end %>
  </div>
  <div class='mb-3'>
    物件種別：<%= @property.property_type %>
  </div>
  <div class='mb-3'>
    事業主体：<%= @property.business_entity %>
  </div>
  <div>
    <%=link_to '編集', edit_property_path %>
    <%=link_to '削除', property_path, method: :delete, data: {confirm: "物件に紐付く部屋および契約情報も全て削除されます。削除しますか？"} %>
    <%=link_to '戻る', property_index_path %>
  </div>
  <div class='mt-5'>
    <h4>
      部屋一覧
    </h4>
    <%=link_to '部屋登録', new_property_room_path(@property.id) %>
    <% @property.rooms.each do |room| %>
      <div>
        <%= link_to room.room_name, property_room_path(@property.id, room.id) %>
      </div>
    <% end %>
  </div>
  <div class='mt-5'>
    <h4>
      契約一覧
    </h4>
    <%=link_to '契約登録', new_contract_path %>
    <% @property.contracts.each do |contract| %>
      <div>
        <%= link_to contract.room.room_name, contract_path(contract.id) %>
      </div>
    <% end %>
  </div>
</div>