<%= render 'layouts/header' %>

<div class='container mt-5'>
  <h3>
    <%= @property.building %>
  </h3>
  <div class='d-flex justify-content-between'>
    <div class='mb-3'>
      住所：〒<%= @property.postal_code %>
      <%= @property.prefecture %>
      <%= @property.city %>
      <%= @property.address_line %>
    </div>
    <div>
      <%=link_to edit_property_path, class:'mx-3' do %>
        <i class="bi bi-pencil-square" style="font-size: 22px; color: #666;"></i>
      <% end %>
      <%=link_to property_path, method: :delete, data: {confirm: "物件に紐付く部屋および契約情報も全て削除されます。削除しますか？"}, class:'mx-3' do %>
        <i class="bi bi-trash3" style="font-size: 22px; color: #666;"></i>
      <% end %>
      <%=link_to '戻る', property_index_path %>
    </div>
  </div>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th>総戸数</th>
        <th>築年月</th>
        <th>土地面積</th>
        <th>建物面積</th>
        <th>物件種別</th>
        <th>所有者</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @property.total_units %></td>
        <% unless @property.building_year.nil? %>
          <td><%= @property.building_year.strftime("%Y年%-m月") %></td>
        <% else %>
          <td></td>
        <% end %>
        <% unless @property.land_area.nil? %>
          <td><%= @property.land_area %>㎡</td>
        <% else %>
          <td></td>
        <% end %>
        <% unless @property.building_area.nil? %>
          <td><%= @property.building_area %>㎡</td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= @property.property_type %></td>
        <td><%= @property.business_entity %></td>
      </tr>
    </tbody>
  </table>
  <h5 class='mt-5'>管理会社情報</h5>
  <table class='table mt-2'>
    <thead>
      <tr>
        <th>会社名</th>
        <th>部署</th>
        <th>担当者</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>
      <% unless @property.management_company.nil? %>
        <tr>
          <% unless @property.management_company.name.nil? %>
            <td><%= @property.management_company.name %></td>
          <% else %>
            <td></td>
          <% end %>
          <% unless @property.management_company.department.nil? %>
            <td><%= @property.management_company.department %></td>
          <% else %>
            <td></td>
          <% end %>
          <% unless @property.management_company.sales_person.nil? %>
            <td><%= @property.management_company.sales_person %></td>
          <% else %>
            <td></td>
          <% end %>
          <% unless @property.management_company.telephone.nil? %>
            <td><%= @property.management_company.telephone %></td>
          <% else %>
            <td></td>
          <% end %>
          <% unless @property.management_company.email.nil? %>
            <td><%= @property.management_company.email %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='' style="margin-top:100px;">
    <div class='d-flex'>
      <h4 style="margin-right: 40px;">部屋一覧</h4>
      <%=link_to '部屋登録', new_property_room_path(@property.id), class:'btn btn-primary' %>
    </div>
    <table class='table  table-hover mt-3'>
    <thead>
      <tr>
        <th>部屋</th>
        <th>間取り</th>
        <th>広さ</th>
        <th>方角</th>
        <th>契約状況</th>
        <th>入居者</th>
        <th>家賃</th>
        <th>管理費</th>
        <th>契約開始日</th>
        <th>契約終了日</th>
      </tr>
    </thead>
    <tbody>
      <% @property.rooms.each do |room| %>
        <tr onclick='window.location="/property/<%= room.property.id %>/rooms/<%= room.id %>"' role="link" style="cursor: pointer;">
          <td><%= room.name %></td>
          <td><%= room.layout %></td>
          <% unless room.room_size.nil? %>
            <td><%= room.room_size %>㎡</td>
          <% else %>
            <td> </td>
          <% end %>
          <td><%= room.direction %></td>
          <% if room.contracts.exists? && room.contracts.order(start_date: :desc).first.end_date >= Date.today %>
            <td>契約中</td>
            <td><%= room.contracts.order(start_date: :desc).first.contractor %></td>
          <% else %>
            <td style="color:red;">空室</td>
            <td>-</td>
          <% end %>
          <% if room.contracts.exists? %>
            <td><%= room.contracts.order(start_date: :desc).first.rent.to_s(:currency, locale: 'jp') %>
            <td><%= room.contracts.order(start_date: :desc).first.management_cost.to_s(:currency, locale: 'jp') %>
            <td><%= room.contracts.order(start_date: :desc).first.start_date.strftime("%Y年%-m月%-d日") %></td>
            <td><%= room.contracts.order(start_date: :desc).first.end_date.strftime("%Y年%-m月%-d日") %></td>
          <% else %>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          <% end %>
          <td>
            <%= link_to edit_property_room_path(room.property.id, room.id), class:'mx-3' do %>
              <i class="bi bi-pencil-square" style="font-size: 22px; color: #666;"></i>
            <% end %>
            <%= link_to property_room_path(room.property.id, room.id), method: :delete, data: {confirm: "部屋に紐付く契約も全て削除されます。削除しますか？"}, class:'mx-3' do %>
              <i class="bi bi-trash3" style="font-size: 22px; color: #666;"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>