<%= render 'layouts/header' %>

<div class='container'>
  <div class='card shadow my-5 py-3 px-5 text-center col-md-6'>
    <h5 class='' style="color:red;">更新対象契約</h5>
    <div>
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>物件名称</th>
            <th>部屋</th>
            <th>契約終了日</th>
            <th>契約者</th>
          </tr>
        </thead>
        <body>
          <% @renew_contracts.each do |c| %>
            <tr onclick='window.location="/contracts/<%= c.id %>/edit"' role="link" style="cursor: pointer;">
              <td><%= c.property.building %></td>
              <td><%= c.room.name %></td>
              <td><%= c.end_date.strftime("%Y年%-m月%-d日") %></td>
              <td><%= c.contractor %></td>
            </tr>
          <% end %>
        </body>
      </table>
    </div>
  </div>
  <div class='card shadow row g-3 my-3 p-5'>
    <div class='d-flex'>
      <h4 style="margin-right: 40px;">契約一覧</h4>
      <%=link_to '契約登録', new_contract_path, class:'btn btn-primary' %>
    </div>
    <table class='table  table-hover mt-3'>
      <thead>
        <tr>
          <th>物件名称</th>
          <th>部屋</th>
          <th>契約開始月</th>
          <th>契約終了月</th>
          <th>家賃</th>
          <th>管理費</th>
          <th>契約者</th>
        </tr>
      </thead>
      <tbody>
        <% @contracts.each do |contract| %>
          <tr>
            <td><%= contract.property.building %></td>
            <td><%= contract.room.name %></td>
            <td><%= contract.start_date.strftime("%Y年%-m月%-d日") %></td>
            <td><%= contract.end_date.strftime("%Y年%-m月%-d日") %></td>
            <td><%= contract.rent.to_s(:currency, locale: 'jp') %></td>
            <td><%= contract.management_cost.to_s(:currency, locale: 'jp') %></td>
            <td><%= contract.contractor %></td>
            <%# <td><%= link_to '詳細', contract_path(contract.id) %></td>
            <td>
              <%=link_to edit_contract_path(contract.id), class:'mx-3' do %>
                <i class="bi bi-pencil-square" style="font-size: 22px; color: #666;"></i>
              <% end %>
              <%=link_to contract_path(contract.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:'' do %>
                <i class="bi bi-trash3" style="font-size: 22px; color: #666;"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='card shadow row g-3 my-3 px-5 py-3'>
    <h5 class='py-2'>過去の契約一覧</h5>
    <table class='table'>
      <thead>
        <tr>
          <th>物件名称</th>
          <th>部屋</th>
          <th>契約開始日</th>
          <th>契約終了日</th>
          <th>家賃</th>
          <th>管理費</th>
          <th>契約者</th>
        </tr>
      </thead>
      <tbody>
        <% @old_contracts.each do |contract| %>
          <tr>
            <td><%= contract.property.building %></td>
            <td><%= contract.room.name %></td>
            <td><%= contract.start_date.strftime("%Y年%-m月%-d日") %></td>
            <td><%= contract.end_date.strftime("%Y年%-m月%-d日") %></td>
            <td><%= contract.rent.to_s(:currency, locale: 'jp') %></td>
            <td><%= contract.management_cost.to_s(:currency, locale: 'jp') %></td>
            <td><%= contract.contractor %></td>
            <%# <td><%= link_to '詳細', contract_path(contract.id) %></td>
            <td>
              <%=link_to edit_contract_path(contract.id), class:'mx-3' do %>
                <i class="bi bi-pencil-square" style="font-size: 22px; color: #666;"></i>
              <% end %>
              <%=link_to contract_path(contract.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:'' do %>
                <i class="bi bi-trash3" style="font-size: 22px; color: #666;"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class='container'>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <%= @contracts[0].property.building %>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= @contracts[0].room.name %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        物件2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <%= @contracts[1].room.name %>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        物件3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
</div>