<%= render 'layouts/header' %>

<div class='container'>
<h4 class='py-3'>契約一覧</h4>
<%=link_to '契約登録', new_contract_path, class:'btn btn-primary' %>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th>物件名称</th>
        <th>部屋</th>
        <th>契約開始月</th>
        <th>契約終了月</th>
        <th>契約者</th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
        <tr>
          <td><%= contract.property.building %></td>
          <td><%= contract.room.name %></td>
          <td><%= contract.start_date.strftime("%Y年%m月") %></td>
          <td><%= contract.end_date.strftime("%Y年%m月") %></td>
          <td><%= contract.contractor %></td>
          <td><%= link_to '詳細', contract_path(contract.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>     
</div>

