<%= render 'layouts/header' %>

<div class='container mt-5'>
  <h3 class='mb-3'>契約情報</h3>
  <div class='mb-3'>
    物件名称：<%= @contract.property.building %>
  </div>
  <div class='mb-3'>
    部屋番号：<%= @contract.room.name %>
  </div>
  <div class='mb-3'>
    契約開始月：<%= @contract.start_date.strftime("%Y年%-m月%-d日") %>
  </div>
  <div class='mb-3'>
    契約終了月：<%= @contract.end_date.strftime("%Y年%-m月%-d日") %>
  </div>
  <div class='mb-3'>
    家賃：<%= @contract.rent %>円
  </div>
  <div>
    <%=link_to edit_contract_path, class:'mx-3' do %>
      <i class="bi bi-pencil-square" style="font-size: 22px; color: #666;"></i>
    <% end %>
    <%=link_to contract_path, method: :delete, data: {confirm: "削除しますか？"}, class:'' do %>
      <i class="bi bi-trash3" style="font-size: 22px; color: #666;"></i>
    <% end%>
    <%=link_to '戻る', contracts_path %>
  </div>
</div>