<%= form_with(model:form, url: payments_path, method: :post, local: true) do |f| %>
        <table class="table">
          <thead>
            <tr>
              <th>物件名称</th>
              <th>部屋</th>
              <th>契約開始日</th>
              <th>金額</th>
              <th>支払い月</th>
              <th>未納チェック</th>
            </tr>
          </thead>
          <tbody class="bulk-registration-form">
            <%= f.fields_for :payments do |payment| %>
              <tr class="item", id='payments-form', data-name=<%= payment.index %>>
                <td>
                  <select name='form_payment_collection[payments_attributes][<%= payment.index %>][property_id]', id ='property_id_1', class='form-control' required>
                    <option value='' disabled selected>選択してください</option>
                    <% current_user.property.all.each do |property| %>
                    <option value=<%= property.id %>><%= property.building %></option> 
                    <% end %>
                  </select>
                </td>
                <td>
                  <select name='form_payment_collection[payments_attributes][<%= payment.index %>][room_id]', id ='room-select', class='form-control' required>
                    <option value='' disabled selected>選択してください</option>
                    <% current_user.rooms.all.each do |room| %>
                      <option value=<%= room.id %>><%= room.name %></option> 
                    <% end %>
                  </select>
                </td>
                <td>
                  <select name='form_payment_collection[payments_attributes][<%= payment.index %>][contract_id]', id ='contract-select', class='form-control' required>
                    <option value='' disabled selected>選択してください</option>
                    <% current_user.contracts.all.each do |contract| %>
                      <option value=<%= contract.id %>><%= contract.start_date %></option> 
                    <% end %>
                  </select>
                </td>
                <td>
                  <%= payment.text_field :amounts, class:'form-control', id:'amounts', required: true %>
                </td>
                <td>
                  <%= payment.date_select :paid_date, {discard_day: true, start_year:2000}, class:'form-control' %>
                </td>
                <td>
                  <%= payment.check_box :not_paid %>
                  <%= payment.label :not_paid, "未" %>
                </td>
                <%= payment.hidden_field :user_id, value: current_user.id, id:'room_user_id' %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class='mx-auto col-md-4 text-center'>
          <%= link_to '入力欄追加', '#', id:'add-form-btn' %>
        </div>
        <div class='row my-3'>
          <%= f.submit "登録" ,class:'d-block mx-auto col-md-4 btn btn-primary' %>
          <div class=' mt-3 d-flex justify-content-center'>
            <%=link_to 'もどる', payments_path, class:'' %>
          </div>
        </div>
      <% end %>