<%= render 'layouts/header' %>

<div class='container mt-5 d-flex justify-content-center'>
  <div class='card shadow px-5 py-3' style='max-width: 700px'>
    <h3 class='mx-auto mt-3'>支払い情報編集</h3>
    <% unless flash[:errors].nil? %>
      <div class='alert alert-danger'><%= flash[:errors].html_safe %></div>
    <% end %>
    <%= form_with model:@payment, local: true do |f| %>
      <div class='row g-3 py-5'>
        <div class='property-area mb-3 row'>
          <label class='col-md-3 form-label'>物件名称</label>
          <div class='col-md-7'>
            <%= @payment.property.building %>
          </div>
        </div>
        <div class='row mb-3', id="room-area">
          <label class='col-md-3 form-label'>部屋</label>
          <div class='col-md-7'>
            <%= @payment.room.name %>
          </div>
        </div>
        <div class='row mb-3'>
          <label class='col-md-3 form-label'>支払い月</label>
          <div class='col-md-7'>
            <%= @payment.paid_date.strftime("%Y年%m月") %>
          </div>
        </div>
        <div class='row mb-3'>
          <label class='col-md-3 form-label'>家賃</label>
          <div class='col-md-7'>
            <%= @payment.contract.rent.to_s(:currency, locale: 'jp') %>
          </div>
        </div>
        <div class='row mb-3'>
        <%= f.hidden_field :property_id %>
        <%= f.hidden_field :room_id %>
        <%= f.hidden_field :contract_id %>
        <%= f.hidden_field :paid_date %>
        <div class='row mb-3'>
          <label class='col-md-3 form-label'>支払い金額</label>
          <div class='col-md-7'>
            <%= f.text_field :amounts, class:'form-control', id:'amounts', required: true %>
          </div>
        </div>
          <label class='col-md-3 form-label'>未納チェック</label>
          <div class='col-md-7'>
            <%= f.check_box :not_paid %>
            <%= f.label :not_paid, "未" %>
          </div>
        </div>
        <div class='row mb-3'>
          <%= f.submit "更新" ,class:'d-block mx-auto col-md-4 btn btn-primary' %>
          <div class=' mt-2 d-flex justify-content-center'>
            <%=link_to 'もどる', payments_path, class:'' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>