<%= render 'layouts/header' %>

<div class='container'>
<h4 class='py-3'>家賃管理</h4>
<%=link_to '支払い登録', new_payment_path, class:'btn btn-primary' %>
<%= column_chart @payments %>
  <table class='table mt-3'>
    <thead>
      <tr>
        <th><%= link_to "物件名称", :sort => "building"%></th>
        <th><%= link_to "期間", :sort => "paid_date"%></th>
        <th><%= link_to "合計家賃", :sort => "rent"%></th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment[0][0] %></td>
          <td><%= payment[0][1].strftime("%Y年%m月") %></td>
          <td><%= payment[1].to_s(:currency, locale: 'jp') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
