<%= render 'layouts/header' %>

<div class='container mt-5'>
  <h3>支払い情報登録</h3>
<div>
</div>
  <div class='row g-3'>
    <%= form_with model:@payment, local: true do |f| %>
      <div class='col-md-3 mb-3'>
        <label class='form-label'>物件名称</label>
        <div class='form-control'>
          <%= f.collection_select :property_id, Property.all, :id, :building, { include_blank: '選択してください'}, {class:'pulldown'} %>
        </div>
      </div>
      <div class='col-md-2 mb-3'>
        <label class='form-label'>部屋</label>
        <div class='form-control'>
          <%= f.collection_select :room_id, Room.all, :id, :room_name, { include_blank: '選択してください'}, {class:'pulldown'} %>
        </div>
      </div>
      <div class='col-md-2 mb-3'>
        <label class='form-label'>契約</label>
        <div class='form-control'>
          <%= f.collection_select :contract_id, Contract.all, :id, :start_date, { include_blank: '選択してください'}, {class:'pulldown'} %>
        </div>
      </div>
      <div class='col-md-2 mb-3'>
        <label class='form-label'>支払い月</label>
        <%= f.date_select :paid_date, {discard_day: true, start_year:2000}, class:'form-control' %>
      </div>
      <div class='col-md-2 mb-3'>
        <label class='form-label'>支払い有無</label>
        <div>
          <%= f.radio_button :paid, '済' %>
          <%= f.label :paid_ok, "済" %>
        </div>
        <div>
          <%= f.radio_button :rent, '未' %>
          <%= f.label :paid_yet, "未" %>
        </div>
      </div>
      <div class=''>
        <%= f.submit "登録" ,class:'btn btn-primary' %>
      </div>
    <% end %>
    <%=link_to 'もどる', payments_path, class:'' %>
  </div>
</div>